/** @format */
body {
  font-family: sans-serif;
}

.game {
  max-width: calc(3 * 100px);
  margin: 0 auto;
  padding: 20px;
}

.status {
  margin-bottom: 20px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

.reset-button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
}

.reset-button:hover {
  color: white;
  background-color: black;
  transition: .3s ease-in-out;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 2px solid grey;
  font-size: 36px;
  transition: background-color 0.3s ease-in-out;
}

.cell:hover {
  background-color: #cccccc;
}
